* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 14px;
  width: 500px;
  max-width: 500px;
  max-height: 800px;
  overflow: hidden;
  margin: 0;
}

h1 {
  background: #333;
  color: white;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

ul {
  width: 100%;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#list {
  /* avoid an excessively wide status text */
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  max-height: 600px;
  /* border-bottom: 1px solid lightgrey; */
}

#list li {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  align-items: stretch;
}

#list .tablink {
  padding: 5px 10px;
  display: flex;
  margin-right: 5px;
  flex: 1;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

#list .tablink:hover {
  background: lavender;
  cursor: pointer;
}

#list img {
  width: 32px;
  height: 32px;
}

.title {
  display: flex;
  flex-grow: 1;
  padding: 0 10px;
  overflow: hidden;
}

.actions {
  width: 60px;
  text-align: left;
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
}

.actions button {
  display: flex;
  border: none;
  background: #444;
  color: white;
  margin: 5px 0;
  padding: 5px 10px;
  align-items: center;
  border-radius: 5px;
}

.actions button:hover {
  background: #777;
  cursor: pointer;
}

.filter-area {
  padding: 20px;
  font-size: 16px;
  background-color: #eee;
  border-bottom: 1px solid lightgrey;
}

.footer {
  display: flex;
  padding: 20px;
  background: #333;
  color: white;
}
